---
import {Image} from 'astro:assets'
import Layout from '../layouts/Layout.astro';

import paneriu1 from '../images/from_paneriu_1.png';
import paneriu2 from '../images/from_paneriu_2.png';
import vytenio1 from '../images/from_vytenio_1.png';
import vytenio2 from '../images/from_vytenio_2.png';
import vytenio3 from '../images/from_vytenio_3.png';
import Card from '../components/Card.astro';
import NavigationUp from '../components/NavigationUp.astro';
---

<Layout title="where">
    <h1 id="top" class="text-2xl my-4 px-4 md:px-8">Vytenio 50 – 450</h1>
    <Card id="instructions" title="">
        <p class="my-4"><b>LT</b>: Laiptinė vidiniame kieme, priešais Vytenio 52, tarp ant sienos nupieštos moters ir troleibuso, kodas: <b>2017#</b>.<br/>Užlipus į patį viršų durų kodas <b>C4567X</b>, butas 450.</p>
        <p class="my-4"><b>EN</b>: Staircase is inside inner yard, in front of Vytenio 52, between woman and trolleybus paintings on the wall, door code: <b>2017#</b>.<br/> At the top floor, the door code is <b>C4567X</b>, apartment number 450.</p>
        <p class="my-4"><b>RU</b>: Лестница находится во внутреннем дворе, напротив Vytenio 52, между нарисованными на стене женщиной и троллейбусом, код двери: <b>2017#</b>. На верхнем этаже код двери: <b>C4567X</b>, номер квартиры 450.</p>
    </Card>
    <Card id="vytenio" title="Iš Vytenio g. / From Vytenio str. / От улицы Вытенио.">
        <Image src={vytenio1} alt="Map with arrows" />
        <Image src={vytenio2} alt="Map with arrows" />
        <Image src={vytenio3} alt="Map with arrows" />
    </Card>
    <Card id="paneriu" title="Iš Panerių g. / From Panerių str. / От улицы Панериу.">
        <Image src={paneriu1} alt="Map with arrows" />
        <Image src={paneriu2} alt="Map with arrows" />
    </Card>
</Layout>
<NavigationUp />
